

.ant-btn-primary{
    background:  linear-gradient(40deg,#ffd86f,#fc6262);
    border-color:  #fc6262;
   
    
}

.ant-btn-primary:hover{
    background:  linear-gradient(40deg,#ffd86f,#fc6262);
    border-color:  #fc6262;
}
.ant-drawer-header {
    background-color: black;
}

.ant-drawer-title{
    color:  #fc6262;
}

.ant-drawer-close{
    color: red;
}
.ant-drawer-close:hover{
    color:#ffd86f ;
}

.ant-drawer-body{
    background:  linear-gradient(40deg,#ffd86f,#fc6262);
    /* background: linear-gradient(-90deg,#ffa20a 0,#fd4b0f 100%); */
    /* background: #fd4b0f; */
    flex-wrap: wrap;
}

.filter-main-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.filter-box{
    
    width: 24%;
    
    text-align: center;
    color: white;
    
}
.filter-cat{
    cursor: pointer;
}
.filter-cat:hover{
    /* background:  linear-gradient(40deg,#ffd86f,#fc6262); */
    background-color: black;
}

.cat-title{
    color: #fff;
    /* background-color: black; */
}

.action-btn-apply{
    color: #fc6262;
    cursor: pointer;
}
.action-btn-cancel{
    color: red;
    cursor: pointer;
}
.anticon svg{
    display: none;
    touch-action: none;
}
.filter-icon{
    color: #ee9d25;
}
.filter-icon:hover{
    
    cursor: pointer;

}

/* .filter-options{
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.411);
    color: white;
    width: 200px;
    overflow: auto;
    text-align: center;   
}
.price-option{
    height: 20vh;
    cursor: pointer;
}
.discount-option{
    height: 20vh;
    cursor: pointer;
}
.latest-options{
    height: 20vh;
    cursor: pointer;
}
.size-options{
    height: 20vh;
    cursor: pointer;
}
.option-title{
    color: orange;
} */