.register-main-container{
   
    align-items: center;
    justify-content: center;
}
.Register-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.registe-btn{
    width: 338px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.form-registe{
    
}