/* .video-container{
    margin-top: 80px;
} */
.dashboard-main-container{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.dashboard-product-card{
    background-color: orange;
    width: 600px;
    height: 10vh;
}